/* form required fields */
th.required { font-weight: bold; }

.form-group.required .control-label:after {
    content:"*";color:red;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding: 60px 15px 0;
}
.container .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}


.top-buffer { margin-top:20px; }

.top-buffer-lg { margin-top:50px; }

.errorlist { color: red}

.selected_icon {}

h3 {
    color: chartreuse;
}
/*.vote_down { color: red}*/
/*.vote_up { color: green}*/
/*.vote_neutral { color: black}*/