{#{% load i18n %}#}
{#{% load static %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ImageTools{% endblock %}</title>

    <meta name="theme-color" content="#ffffff">

    <link href="{{ static('css/imagetools.css' )}}" rel="stylesheet">
    <script src="{{ static('js/jquery-1.11.3.min.js')}}"></script>
{#    <script src="{{ static('js/bootbox.min.js')}}"></script>#}

    <!-- Bootstrap -->
    <link href="{{ static('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ static('bootstrap/css/bootstrap-theme.min.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
       <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ static('bootstrap/js/bootstrap.min.js')}}"></script>

    {% block head %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>
<body>
<!-- Wrap all page content here -->
<div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--<img class="navbar-brand" src="{{ static('images/clock_icon_01_108.png' )}}" />-->
                <a class="navbar-brand" href="/">ImageTools</a>

            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">

        {% block content %}{% endblock %}

    </div>

</div>

<!--<div id="footer">-->
    <!--<div class="panel-footer">-->
        <!--<div class="container">-->
            <!--<div class="navbar-text navbar-header" >-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

</body>
</html>