{% extends "base.html" %}

{% block head %}
    <link href="{{ static('css/jquery.selectareas.css' ) }}" rel="stylesheet">
    <script src="{{ static('js/jquery.selectareas.js' ) }}"></script>

{% endblock %}

{% block scripts %}

    <script>
        area_map = {};

        $(document).ready(function () {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            $('img').selectAreas({
                allowEdit: true,
                allowMove: true,
                allowResize: true,
                allowSelect: true,
                allowDelete: true,
                allowNudge: true,
                aspectRatio: 0,
                minSize: [0, 0],
                maxSize: [0, 0],
                width: 0,
                maxAreas: 0,
                outlineOpacity: 0.5,
                overlayOpacity: 0.1,
                areas: [],
                onChanging: $.noop,
                onChanged: area_changed,
                onDeleted: area_deleted
            });


            function area_deleted(event, id, areas) {
                console.log(areas.length + " areas", arguments);
                $('#txn_error').text('');

                var r_id = null;
                if (id in area_map) {
                    r_id = area_map[id];
                }

                $.ajax({
                    type: "POST",
                    url: "{{ url('offer_region_delete') }}",
                    data: {
                        "region_id": r_id
                    },
                    dataType: "json",
                    success: function (res) {
                        $('#txn_result').html("<div id=\"txn_success_alert\" class=\"alert alert-success\" role=\"alert\">Done!</div>");
                        delete area_map[id]
                    },
                    fail: function (res) {
                        $('#txn_error').html(res.responseJSON.msg)
                    },
                    error: function (res) {
                        $('#txn_error').html(res.responseJSON.msg)
                    },
                    traditional: true
                });
            }

            function area_changed(event, id, areas) {
                console.log(areas.length + " areas", arguments);
                $('#txn_error').text('');

                var area = null;
                for(var i=0, len=areas.length; i < len; i++){
                    if (areas[i].id === id) {
                        area = areas[i]
                    }
                }
                var r_id = null;
                if (id in area_map) {
                    r_id = area_map[id];
                }

                if (r_id === null) {
{#                        add#}
                    $.ajax({
                        type: "POST",
                        url: "{{ url('offer_region_add') }}",
                        data: {
                            "type": "update",
                            "f": "{{ f }}",
                            "v": "{{ v }}",
                            "p": "{{ p }}",
                            "ratio": {{ ratio }},
                            "area": JSON.stringify(area)
                        },
                        dataType: "json",
                        success: function (res) {
                            $('#txn_result').html("<div id=\"txn_success_alert\" class=\"alert alert-success\" role=\"alert\">Done!</div>");
                            area_map[id] = res.data.region_id
                        },
                        fail: function (res) {
                            $('#txn_error').html(res.responseJSON.msg)
                        },
                        error: function (res) {
                            $('#txn_error').html(res.responseJSON.msg)
                        },
                        traditional: true
                    });
                } else {
                    {#                        update#}
                    $.ajax({
                        type: "POST",
                        url: "{{ url('offer_region_edit') }}",
                        data: {
                            "region_id": r_id,
                            "ratio": {{ ratio }},
                            "area": JSON.stringify(area)
                        },
                        dataType: "json",
                        success: function (res) {
                            $('#txn_result').html("<div id=\"txn_success_alert\" class=\"alert alert-success\" role=\"alert\">Done!</div>");
                        },
                        fail: function (res) {
                            $('#txn_error').html(res.responseJSON.msg)
                        },
                        error: function (res) {
                            $('#txn_error').html(res.responseJSON.msg)
                        },
                        traditional: true
                    });
                }
            }

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });

        function get_start_areas() {
            console.log('starting initial pull');

            $('#txn_error').text('');
            $.ajax({
                type: "POST",
                url: "{{ url('offer_regions_get') }}",
                data: {
                    "f": "{{ f }}",
                    "v": "{{ v }}",
                    "p": "{{ p }}",
                    "ratio": {{ ratio }}
                },
                dataType: "json",
                success: function (res) {
                    $('#txn_result').html("<div id=\"txn_success_alert\" class=\"alert alert-success\" role=\"alert\">Done!</div>");
                    $.each(res.data, function(index, area) {
                        area_map[index] = area.region_id;
                        $('img#main').selectAreas('add', {
                            id: area.id,
                            x: area.x,
                            y: area.y,
                            height: area.height,
                            width: area.width
                        });
                    })

                },
                fail: function (res) {
                    $('#txn_error').html(res.responseJSON.msg)
                },
                error: function (res) {
                    $('#txn_error').html(res.responseJSON.msg)
                },
                traditional: true
            });
        }

        // A $( document ).ready() block.
        $( document ).ready(get_start_areas);
    </script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <p class="lead">Page Edit [{{ f }}/{{ v }}/{{ p }}]</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
    <span id="txn_error" style="color: red"></span>
    <span id="txn_result"></span>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div><img id="main" src="{{ url('get_img') }}?f={{ f }}&v={{ v }}&i={{ p }}"
                      style="height: {{ h }}px; width:{{ w }}px; border: thin"/></div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4"><a href="{{ url('page_compare') }}?f={{ f }}&v={{ v }}&p={{ p }}&ratio={{ ratio }}">calcualte offer similarity groups</a></div>

        <div class="col-md-4"><a href="{{ url('show_page_offer_similarity') }}?f={{ f }}&v={{ v }}&p={{ p }}&ratio={{ ratio }}">show offer similarity groups</a></div>
    </div>

    &nbsp;


{% endblock %}