{% extends "base.html" %}

{% block scripts %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <p class="lead"><a href="{{ url('start') }}">back</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <p class="lead">Page Clustering for Flight {{ flight_name }}</p>
        </div>
    </div>

{% for vg in data %}
<hr/>
<span class="h3"> Version Group {{ vg.version_group }}</span>
<div class="row">
    <div class="col-md-12">
        <table class="table-striped">
            <thead>
            <td class="col-md-3"></td>
            {% for i in range(vg['meta']['num_images']) %}
            <td class="col-md-1">
                <a href="{{  url('show_page_group')}}?f={{ flight_name }}&vg={{ vg.version_group }}&ps={{ i+1 }}">page-{{i + 1}}</a>
            </td>
            {% endfor %}
            </thead>
            <tbody>
            {% for r in range(vg['meta']['num_versions']) %}
            <tr>
                <td class="col-md-3">
                    <a href="{{ url('show_version') }}?f={{ flight_name }}&v={{ vg['versions'][r] }}">{{ vg['versions'][r] }}</a>
                </td>
                {% for p in vg['clusters'][r] %}
                <td class="col-md-1">
                    <a href="{{ url('page_edit') }}?f={{ flight_name }}&v={{ vg['versions'][r] }}&p={{ p['fname'] }}">{{ p['sim_grp'] }}</a>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}

&nbsp;


{% endblock %}