{% extends "base.html" %}

{% block scripts %}
    <script>
        $(document).ready(function () {

        })
    </script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <p class="lead">

                Work Area for area ID #{{ wa.rd_id }}

            </p>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <td>offer area</td>
                <td>version group</td>
                <td>page</td>
                <td>similarity group</td>
                <td>versions in group</td>
            </tr>
            </thead>
                <tbody>
                    <tr>
                        <td class="col-md-6 align-top">
                            <img src="{{ url('get_work_area_img') }}?rd={{ wa.rd_id }}"
                                 style="height: {{ wa.img_h }}px; width: {{ wa.img_w }}px; border: thin"/>
                        </td>
                        <td class="col-md-1 align-top">
                            <span>{{ wa.version_group }}</span>
                        </td>
                        <td class="col-md-1 align-top">
                            <span>{{ wa.page }}</span>
                        </td>
                        <td class="col-md-1 align-top">
                            <span>{{ wa.similarity_group }}</span>
                        </td>
                        <td class="col-md-3 align-top">
                            <span>{{ wa.versions }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    &nbsp;


{% endblock %}