{% extends "base.html" %}

{% block scripts %}
    <script>
        $(document).ready(function () {

        })
    </script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <p class="lead">Work Areas for flight ID #{{ f }}</p>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <table class="table-striped">
            <thead>
            <tr>
                <td>area id</td>
                <td>version group</td>
                <td>page</td>
                <td>similarity group</td>
            </tr>
            </thead>
                <tbody>
                {% for wa in work_areas %}
                    <tr>
                        <td class="col-md-2">
                            <span><a href="{{ url('show_work_area') }}?f={{ f }}&rd_id={{ wa.rd_id }}"> {{ wa.rd_id }}</a></span>
                        </td>
                        <td class="col-md-2">
                            <span>{{ wa.version_group }}</span>
                        </td>
                        <td class="col-md-2">
                            <span>{{ wa.page }}</span>
                        </td>
                        <td class="col-md-2">
                            <span>{{ wa.similarity_group }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    &nbsp;


{% endblock %}