{% extends "base.html" %}

{% block scripts %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <p class="lead">Version {{ v }}</p>
        </div>
    </div>

<hr/>
<div class="row">
    <div class="col-md-12">
        <table class="table-striped">
            <tbody>
            <tr>
            {% for p in pages %}
            <td class="col-md-1">
                <div><img src="{{ url('get_img') }}?f={{ f }}&v={{ v }}&i={{ p.name }}" style="height: {{ p.comp_img_height * display_ratio }}px; width: {{ p.comp_img_width * display_ratio }}px; border: thin"/></div>
            </td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>

&nbsp;


{% endblock %}