{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <p class="lead">Flight Comparison Results</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% for vg in flight %}
                <table style="width: 100%">
                    <tbody>
                    {% for v in vg['versions'] %}
                        <tr>
                            <td>
                                {{ v.name }} ({{ v.type }})
                            </td>
                            {% for b in v.images %}
                                <td>
                                    <div><img
                                            src="{{ url('get_img') }}?f={{ flight_name }}&v={{ v.name }}&i={{ b.diff_fname }}&t=diffs"
                                            style="height: {{ vg['img_size']['h'] }}px; width:{{ vg['img_size']['w'] }}px; border: thin"/></div>
                                    {#                    <span>DSIM: {{ b.dsim | floatformat }}</span><br/>#}
                                    {#                    <span>Diff PHASH: {{ b.dphash | floatformat }}</span><br/>#}
                                    {#                    <span>Diff HASH: {{ b.dahash | floatformat }}</span><br/>#}
                                    {#                    <span>Levenshtein: {{ b.levenshtein | floatformat }}</span><br/>#}
                                    {#                    <span>Fuzzy: {{ b.fuzzy | floatformat }}</span><br/>#}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>

    &nbsp;


{% endblock %}