{% extends "base.html" %}

{% block scripts %}
    <script>
        $(document).ready(function () {

            {% for p in data %}
                var scanvas{{ p.id }} = document.getElementById('simg_{{ p.id }}');
                var scontext{{ p.id }} = scanvas{{ p.id }}.getContext('2d');

                var ccanvas{{ p.id }} = document.getElementById('cimg_{{ p.id }}');
                var ccontext{{ p.id }} = ccanvas{{ p.id }}.getContext('2d');

                var simg{{ p.id }} = new Image();

                simg{{ p.id }}.onload = function () {
                    scontext{{ p.id }}.drawImage(simg{{ p.id }}, 0, 0, {{ w }}, {{ h }});
                    {% for rd in p.region_details.all() %}
                        scontext{{ p.id }}.beginPath();
                        scontext{{ p.id }}.rect({{ (rd.offer_region.x * ratio)|int }}, {{ (rd.offer_region.y * ratio)|int }}, {{ ((rd.offer_region.width) * ratio )|int }}, {{ ((rd.offer_region.height) * ratio)|int }});
                        {% if rd.area_similarity == 1.0 %}
                            scontext{{ p.id }}.fillStyle = 'rgba(0, 255, 0, 0.5)';
                        {% elif rd.area_similarity > 0.9 %}
                            scontext{{ p.id }}.fillStyle = 'rgba(0, 255, 255, 0.5)';
                        {% elif rd.area_similarity > 0.8 %}
                            scontext{{ p.id }}.fillStyle = 'rgba(0, 0, 255, 0.5)';
                        {% else %}
                            scontext{{ p.id }}.fillStyle = 'rgba(255, 0, 0, 0.5)';
                        {% endif %}
                        scontext{{ p.id }}.fill();
                        scontext{{ p.id }}.lineWidth = 1;
                        scontext{{ p.id }}.strokeStyle = 'grey';
                        scontext{{ p.id }}.stroke();
                    {% endfor %}
                };
                simg{{ p.id }}.src = '{{ url('get_img') }}?f={{ f }}&v={{ p.version.name }}&i={{ p.name }}&t=comps';

                var cimg{{ p.id }} = new Image();

                cimg{{ p.id }}.onload = function () {
                    ccontext{{ p.id }}.drawImage(cimg{{ p.id }}, 0, 0, {{ w }}, {{ h }});
                    {% for rd in p.region_details.all() %}
                        ccontext{{ p.id }}.beginPath();
                        ccontext{{ p.id }}.rect({{ (rd.offer_region.x * ratio)|int }}, {{ (rd.offer_region.y * ratio)|int }}, {{ ((rd.offer_region.width) * ratio)|int }}, {{ ((rd.offer_region.height) * ratio)|int }});
                        {% if rd.similarity_group == '0' %}
                            ccontext{{ p.id }}.fillStyle = 'rgba(0, 255, 0, 0.5)';
                        {% elif rd.similarity_group == '1' %}
                            ccontext{{ p.id }}.fillStyle = 'rgba(0, 255, 255, 0.5)';
                        {% elif rd.similarity_group == '2' %}
                            ccontext{{ p.id }}.fillStyle = 'rgba(0, 0, 255, 0.5)';
                        {% else %}
                            ccontext{{ p.id }}.fillStyle = 'rgba(255, 255, 255, 0.5)';
                        {% endif %}
                        ccontext{{ p.id }}.fill();
                        ccontext{{ p.id }}.lineWidth = 1;
                        ccontext{{ p.id }}.strokeStyle = 'grey';
                        ccontext{{ p.id }}.stroke();
                    {% endfor %}
                };
                cimg{{ p.id }}.src = '{{ url('get_img') }}?f={{ f }}&v={{ p.version.name }}&i={{ p.name }}&t=comps';

            {% endfor %}

        })
    </script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <p class="lead">Page Offer Similarity Group Detail</p>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-sm-12">
            <table class="table-striped">
            <thead>
            <tr>
                <td>ref</td>
                <td>file</td>
{#                <td>original</td>#}
                <td>similarity areas</td>
                <td>clusters</td>
            </tr>
            </thead>
                <tbody>
                {% for pg in data %}
                    <tr>
                        <td class="col-md-2">
                            <img src="{{ url('get_img') }}?f={{ f }}&v={{ master.version.name }}&i={{ pg.name }}&t=comps"
                                 style="height: {{ h }}px; width: {{ w }}px; border: thin"/>


                        </td>
                        <td class="col-md-2">
                            <span>{{ pg.version.name }}</span>
                            <span>{{ pg.page_set }}</span>
                            <span>{{ pg.name }}</span>

                        </td>
{#                        <td class="col-md-2">#}
{#                            <img src="{{ url('get_img') }}?f={{ f }}&v={{ pg.version.name }}&i={{ pg.name }}&t=comps"#}
{#                                 style="height: {{ h }}px; width: {{ w }}px; border: thin"/>#}
{##}
{##}
{#                        </td>#}
                        <td class="col-md-2">
                            <canvas id="simg_{{ pg.id }}" width="{{ w }}" height="{{ h }}"></canvas>
                        </td>
                        <td class="col-md-2">
                            <canvas id="cimg_{{ pg.id }}" width="{{ w }}" height="{{ h }}"></canvas>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    &nbsp;


{% endblock %}