{% extends "base.html" %}

{% block scripts %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <p class="lead">Page Similarity Group Detail</p>
        </div>
    </div>

    <hr/>
    {% for sg in sim_groups %}
        <span class="h3"> Page Similarity Group {{ sg }}</span>
        <div class="row">
            <div class="col-sm-12">
                <table class="table-striped">
                    <tbody>
                    <tr>
                        {% for p in sim_groups[sg] %}
                            <td class="col-md-2">
                                <div><img src="{{ url('get_img') }}?f={{ f }}&v={{ p.version.name }}&i={{ p.name }}"
                                          style="height: {{ p.comp_img_height * display_ratio }}px; width: {{ p.comp_img_width * display_ratio }}px; border: thin"/></div>
                                {{ f }}
                            </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}

    &nbsp;


{% endblock %}