{% extends "base.html" %}

{% block scripts %}

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <p class="lead">Flight stats for {{ f }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <table>
                <thead>
                <tr>
                    <td class="col-md-2">page</td>
                    <td class="col-md-2">total SIO</td>
                    <td class="col-md-2">reduced HITs</td>
                </tr>
                </thead>
                <tbody>
                {% for r in hit_reduction %}
                <tr>
                    <td class="col-md-2">{{ r[0] }}</td>
                    <td class="col-md-2">{{ r[1] }}</td>
                    <td class="col-md-2">{{ r[3] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">Total reduction:</div>
        <div class="col-sm-6">{{ hit_reduction_per }}%
        </div>
    </div>



        &nbsp;


{% endblock %}