{% extends "base.html" %}

{% block head %}
    <meta http-equiv="refresh" content="5" />
{% endblock %}

{% block scripts %}
    <script>

    </script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <span class="lead">Flights </span> <span>[ <a href="{{ url('upload_flight') }}">new flight</a> ]</span>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table style="width: 100%">
                <tbody>
                {% for f in flights %}
                    <tr>
                        <td>
                            {{ f.name }}
                        </td>
                        {% if f.is_taskchain_complete('flight_prep') %}
                            <td>
                                {%  if not f.did_taskchain_fail('flight_prep') %}
                                    <a href="{{ url( 'process_clusters') }}?flight={{ f.working_dir_name }}">calculate page clusters</a>
                                {% endif %}
                            </td>
                            <td>
                                {%  if f.is_taskchain_complete('page_clustering') and not f.did_taskchain_fail('page_clustering') %}
                                <a href="{{ url( 'show_clusters') }}?flight={{ f.working_dir_name }}">show page clusters</a>
                                    {% elif f.did_taskchain_fail('page_clustering') %}
                                    Error during clustering
                                {% elif f.is_taskchain_in_progress('page_clustering') %}
                                    In progress ({{ f.get_current_task('page_clustering') }})
                                {%  endif %}
                            </td>
{#                            <td>#}
{#                                <a href="{{ url( 'process_diff') }}?flight={{ f.working_dir_name }}">calculate page diffs</a>#}
{#                            </td>#}
{#                            <td>#}
{#                                <a href="{{ url( 'show_diff') }}?flight={{ f.working_dir_name }}">show page diffs</a>#}
{#                            </td>#}
                            <td><a href="{{ url('reinit') }}?f={{ f.working_dir_name }}">re-init</a></td>
                            <td><a href="{{ url('re_generate_comps') }}?f={{ f.id }}">re-gen comps</a></td>
                            <td><a href="{{ url('delete_flight') }}?f={{ f.id }}">delete</a></td>
                            <td><a href="{{ url('show_flight_stats') }}?f={{ f.id }}">stats</a></td>
                            <td><a href="{{ url('show_work_areas') }}?f={{ f.id }}">work areas</a></td>
                        {% else %}
                            <td>status: </td>
                            <td>{{ f.get_current_task('flight_prep') }}</td>
                            <td></td>
{#                            <td></td>#}
{#                            <td></td>#}
                            <td>&nbsp;</td>
                            <td><a href="{{ url('delete_flight') }}?f={{ f.id }}">delete</a></td>
                            <td>&nbsp;</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">

        </div>
    </div>


    </form>


    &nbsp;


{% endblock %}