{% extends "base.html" %}

{% block scripts %}

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <p class="lead">Upload Flight</p>
        </div>
    </div>
    <form method="post" class="form-horizontal" role="form" action="{{ url( 'start' ) }}" enctype="multipart/form-data">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div>
                        Flight Name: <input id="flight_name" type="text" name="flight_name">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div>
                        <input id="up_file" type="file" name="flightzip">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2">
            </div>

            <div class="col-sm-3">
                <button type="submit">Upload</button>
            </div>
        </div>

    </form>


    &nbsp;


{% endblock %}